/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************
 *     Page CSS
 * ******************/

body {
  text-align: center;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.cell {
  list-style-type: none;
  height: 40%;
}

.display-area {
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	width: 1024px;
}

.display-area li {
  float: left;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 33%;
  height: 11rem;
}

.display-area li.show {
	border-bottom: dashed 1px #000;
}

.display-area li.show:nth-of-type(7), .display-area li:nth-of-type(8), .display-area li:nth-of-type(9) {
	border-bottom: none;
}

.display-area li:nth-of-type(1n) {
  padding-top:0;
}

.display-area h1 {
  display: block;
  text-align: center;
  font-size: 11rem;
}

.active {
  background: #cceba7;
}

.clearfix {
  overflow: hidden;
}

.overlay {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #456da0;
	text-align: center;
}

.container-color {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-55%);
	z-index: 2;
	background: #FFF;
}

.overlay-container {
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
	color: #273e68;
}

.overlay-container h1 {
	font-size: 100px;
	margin-top: -220px;
	padding-top: 100px;
	padding-bottom: 30px;
	color: #FFF;
}

.overlay-container .row {
	overflow: auto;
	margin-bottom: 5px;
	padding: 10px 0;
	border-bottom: solid 1px #DDD;
}

.overlay-container .sans-border {
	border-bottom: none;
}

.overlay-container .left-col {
	float: left;
	text-align: right;
	width: 47%;
	font-size: 25px;
}

.overlay-container .right-col {
	float: right;
	text-align: left;
	width: 45%;
	font-size: 25px;
}

.overlay-container input {
	margin: 0;
	margin-right: 2px;
	font-size: 20px;
	width: 3rem;
	text-align: right;
	padding: 4px 8px;
	border: solid 1px #8ba6c9;
	border-radius: 3px;
}

.overlay-container .button {
	display: inline-block;
	margin: 10px;
	width: 200px;
	padding: 7px 10px;
	font-size: 30px;
	background: #8fc9a4;
	color: #FFF;
	border: none;
	cursor:pointer;
	border-radius: 5px;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.overlay-container .button:hover {
	background: #3d8b59;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.overlay-container .demo {
	background: #8ba6c9;
	color: #FFF;
	background-image: url('../img/speaker.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 35px;
}

.overlay-container .demo:hover {
	background: #456da0;
	color: #FFF;
	background-image: url('../img/speaker.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.author {
	margin-top: 1.5rem;
	width: 100%;
	margin-bottom: -1.5rem;
	text-align: center;
	font-size: 1rem;
	color: #8ba6c9;
}

.author a, .author a:visited {
	color: #8ba6c9;
	text-decoration: none;
}

.author a:hover, .author a:active, .author a:focus {
	color: #FFF;
	text-decoration: none;
}

.author .separator {
	color: #FFF;
}

#countdown {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5px;
	margin-top: -5px;
	background: #F00;
}

.hide {
	display: none;
}

input[type=checkbox] {
	visibility: hidden;
}

/* from http://cssdeck.com/labs/css-checkbox-styles */
.countdownchk {
	float: left;
	width: 20px;	
	margin: 0px auto;
	position: relative;
}

.countdownchk label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border-radius: 4px;
	border: solid 1px #456da0;
}

.countdownchk label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #456da0;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.countdownchk label:hover::after {
	opacity: 0.3;
}

.countdownchk input[type=checkbox]:checked + label:after {
	opacity: 1;
}